# Workflow derived from <https://github.com/r-lib/actions/tree/v2/examples>
# + Need help debugging build failures? Start at <https://github.com/r-lib/actions#where-to-find-help>

# Modification by @luciorq
# + Add ignored paths in the `.github` dir
# + Add CronJob to run every Sunday
# + Add `workflow_dispatch`
# + Add cancel on concurrency
# Check <https://github.com/luciorq/condathis/blob/main/.github/workflows/R-CMD-check.yaml> for the source of truth
---
on:
  push:
    branches: [main, master]
    paths:
      - '**'
      - '!.github/**'
      - '.github/workflows/r-cmd-check.yaml'

  pull_request:
    paths:
      - '**'
      - '!.github/**'
      - '.github/workflows/r-cmd-check.yaml'

  schedule:
    # Runs every Sunday at 01 AM ET - 5:00 UTC
    - cron: '0 5 * * 0'

  workflow_dispatch:

name: r-cmd-check

permissions: read-all

concurrency:
  # group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  r-cmd-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: 'release'}
          - {os: windows-latest, r: 'release'}
          - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest,   r: 'release'}
          - {os: ubuntu-latest,   r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          # Modified to satisfy error on Windows quarto vignette builds
          # + Check <https://github.com/quarto-dev/quarto-r/issues/217#issuecomment-2599564497>
          # extra-packages: any::rcmdcheck
          extra-packages: any::rcmdcheck, local::.
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          build_args: 'c("--no-manual","--compact-vignettes=gs+qpdf")'
